genai/main/default/flows/Retrieve_Prompt_Search_Terms_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Add each term to the return variable</description>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vReturn</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReturn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> or </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Compile_list</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Compile list</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!vReturn}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Strip_last_or</name>
        <label>Strip last or</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>vReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTrimmedList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compile_list</targetReference>
        </connector>
    </assignments>
    <description>Flow to automatically return all prompt terms for the renewable energy Prompt.</description>
    <environments>Default</environments>
    <formulas>
        <description>Automatically trim the list so it doesn&apos;t include the last &apos;or&apos;</description>
        <name>fTrimmedList</name>
        <dataType>String</dataType>
        <expression>LEFT({!vReturn}, LEN({!vReturn})-4)</expression>
    </formulas>
    <interviewLabel>Retrieve Prompt Search Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>* Retrieve Prompt Search Terms</label>
    <loops>
        <description>Loop for each record.</description>
        <name>For_Each_Record</name>
        <label>For Each Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Search_Terms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Strip_last_or</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Retrieve the different prompt terms to search</description>
        <name>Get_Search_Terms</name>
        <label>Get Search Terms</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prompt_Search_Term_v1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Search_Terms</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable holding list of search terms</description>
        <name>vReturn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
