genai/main/default/flows/Town_Sentiment_to_Alternative_Energy_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Execute the prompt to determine the overall sentiment for the committee to change energy source.</description>
        <name>Retrieve_Energy_Sentiment</name>
        <label>Retrieve Energy Sentiment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>Sprungfield_Committee_Energy_Switch_V1</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Search_Term_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Term</name>
            <value>
                <elementReference>Get_First_Term</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sprungfield_Committee_Energy_Switch_V1</nameSegment>
        <outputParameters>
            <assignToReference>vPromptResult</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Update the variable to tell the user that the committee has a negative outlook on nuclear power.</description>
        <name>Set_Negative_Message</name>
        <label>Set Negative Message</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The committee&apos;s eyeing alternative energy again. I think it&apos;s primetime to launch &quot;Nuclear Power Rocks&quot; across social media. Just the facts - nuclear&apos;s reliable, affordable, safe and green. A little music video with some dancing atoms couldn&apos;t hurt either. Let&apos;s make nuclear sexy again! #Atompowertothepeople</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Energy_Sentiment_Results</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Was anything pertaining to our search terms found in the meeting notes?</description>
        <name>Search_Term_Found</name>
        <label>Search Term Found?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Energy_Sentiment_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPromptResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Negative_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow to track whether the town of Sprungfield is interested in migrating away from Nuclear power.</description>
    <environments>Default</environments>
    <interviewLabel>Town Sentiment to Alternative Energy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>* Town Sentiment to Alternative Energy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve all active search terms</description>
        <name>Get_Active_Search_Terms</name>
        <label>Get Active Search Terms</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prompt_Search_Term_v1__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the first search term</description>
        <name>Get_First_Term</name>
        <label>Get First Term</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Introduction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prompt_Search_Term_v1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen to display the prompt results.</description>
        <name>Energy_Sentiment_Results</name>
        <label>Energy Sentiment Results</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblResults</name>
            <fieldText>&lt;p&gt;{!vScreenMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Introduction screen. It&apos;ll outline what we&apos;re trying to do with Prompt Builder and display a list of active search terms.</description>
        <name>Introduction</name>
        <label>Introduction</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Energy_Sentiment</targetReference>
        </connector>
        <fields>
            <name>tabTerms</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Prompt_Search_Term_v1__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Active Search Terms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Active_Search_Terms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-73aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Term Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Term Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-ef99&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Search_Terms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold the sentiment result from the Prompt</description>
        <name>vPromptResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the message shown on the last screen.</description>
        <name>vScreenMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None of the search terms were mentioned in the committee notes. Nuclear power is in good standing.</stringValue>
        </value>
    </variables>
</Flow>
